<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../basureros-clandestinos' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Basureros Clandestinos</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../drenajesanitario' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Lugares Poblados Con Drenajes Sanitarios</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../planta-tra-agua' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Plantas de Tratamiento de Aguas Negras</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../vertederos-legales' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Vertederos Legales</span></h5>
</a>