<ol class="breadcrumb">
  <li class="breadcrumb-item">
      <a href="#">SIETD</a>
  </li>
  <li class="breadcrumb-item">
      <a href="#">SOSEP</a>
  </li>
  <li class="breadcrumb-item active"> Ingreso de Datos</li>
</ol>
<div class="card mb-3">
  <div class="card-header">
      <i class="fa fa-table"></i> Lista de Registros
  </div>
  <div class="card-body">

      <div class="table-responsive">
          <div class="box-body">
              <div class="row">
                  <div class="col-md-2">
                      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button>
                  </div>
                  <div class="col-md-7 text-center">
                      <div class="card-header" role="tab" id="headingOne" (click)="seleccion()" data-toggle="collapse" data-parent="#accordion" href="#Forms" aria-expanded="true" aria-controls="Forms">
                          <h5 class="mb-0 pointer">
                              <a>
                                {{title}}
                              </a>
                              <i class="fa {{arrow}}"></i>
                          </h5>

                      </div>

                      <ul class="collapse text-left ulhover" role="tabpanel" aria-labelledby="headingOne" id="Forms">
                          <app-directs></app-directs>

                      </ul>
                  </div>
                  <div class="col-md-3 text-right">
                      <button type="button" class="btn btn-lg btn-success" (click)="onNavigate()" style="cursor:pointer;"><i class="fa fa-download"></i> Formato</button>


                      <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#SubirModal" style="cursor:pointer;">Subir</button>
                  </div>
              </div>
              <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" width="100%" id="dataTable" cellspacing="0">


                      <thead>
                          <tr>
                              <th style="width:15%;">Cantidad de Muletas</th>
                              <th style="width:15%;">Cantidad de Andadores</th>
                              <th style="width:20%;">Cantidad de Servicio Funerario</th>
                              <th style="width:15%;">Cantidad de Oxigeno</th>
                              <th style="width:15%;">Cantidad de Pañales</th>
                              <th style="width:20%;"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of Table">
                              <td>{{((data.cant_muletas!=null)?data.cant_muletas:'')}}</td>
                              <td>{{((data.cant_andadores!=null)?data.cant_andadores:'')}}</td>
                              <td>{{((data.cant_servicio_funerario!=null)?data.cant_servicio_funerario:'')}}</td>
                              <td>{{((data.cant_oxigeno!=null)?data.cant_oxigeno:'')}}</td>
                              <td>{{((data.cant_paniales!=null)?data.cant_paniales:'')}}</td>

                              <td>

                                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                  <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                              </td>
                          </tr>

                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>

<simple-notifications [options]="options"></simple-notifications>


<div id="insertModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Ingreso de datos</h4>
          </div>
          <div class="modal-body">
              <form id="insert-form" class="row" #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                  
                <div class="form-group col-xl-4 mb-4">
                  <label for="cant_muletas">Cantidad de Muletas</label>
                      <input type="number" class="form-control" id="cant_muletas" name="cant_muletas" required ngModel #cant_muletas="ngModel" placeholder="Cantidad mujeres benificiadas">
                      <div *ngIf="cant_muletas.invalid && (cant_muletas.dirty || cant_muletas.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_muletas.errors.required">
                            las Cantantidad de mujeres es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_andadores">Cantidad de Andadores</label>
                      <input type="number" class="form-control" id="cant_andadores" name="cant_andadores" required ngModel #cant_andadores="ngModel" placeholder="Cantidad unidades productivas">
                      <div *ngIf="cant_andadores.invalid && (cant_andadores.dirty || cant_andadores.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_andadores.errors.required">
                            la Cantidad unidades productivas es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_bastones">Cantidad de Bastones</label>
                    <input type="number" class="form-control" id="cant_bastones" name="cant_bastones" required ngModel #cant_bastones="ngModel" placeholder="Cantidad unidades productivas">
                    <div *ngIf="cant_bastones.invalid && (cant_bastones.dirty || cant_bastones.touched)" class="alert alert-danger" role="alert">
                        <small *ngIf="cant_bastones.errors.required">
                          la Cantidad unidades productivas es invalido
                      </small>
                    </div>
                </div>
                <div class="form-group col-xl-4 mb-4">
                  <label for="cant_servicio_funerario">Cantidad de Servicio Funerario</label>
                      <input type="number" class="form-control" id="cant_servicio_funerario" name="cant_servicio_funerario" required ngModel #cant_servicio_funerario="ngModel" placeholder="Cantidad mujeres benificiadas">
                      <div *ngIf="cant_servicio_funerario.invalid && (cant_servicio_funerario.dirty || cant_servicio_funerario.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_servicio_funerario.errors.required">
                            las Cantantidad de mujeres es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_cervix">Cantidad de Cervix</label>
                      <input type="number" class="form-control" id="cant_cervix" name="cant_cervix" required ngModel #cant_cervix="ngModel" placeholder="Cantidad unidades productivas">
                      <div *ngIf="cant_cervix.invalid && (cant_cervix.dirty || cant_cervix.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_cervix.errors.required">
                            la Cantidad unidades productivas es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_aparato_auditivo">Cantidad de Aparato Auditivo</label>
                    <input type="number" class="form-control" id="cant_aparato_auditivo" name="cant_aparato_auditivo" required ngModel #cant_aparato_auditivo="ngModel" placeholder="Cantidad unidades productivas">
                    <div *ngIf="cant_aparato_auditivo.invalid && (cant_aparato_auditivo.dirty || cant_aparato_auditivo.touched)" class="alert alert-danger" role="alert">
                        <small *ngIf="cant_aparato_auditivo.errors.required">
                          la Cantidad unidades productivas es invalido
                      </small>
                    </div>
                </div>

                <div class="form-group col-xl-4 mb-4">
                  <label for="cant_oxigeno">Cantidad de Oxigeno</label>
                      <input type="number" class="form-control" id="cant_oxigeno" name="cant_oxigeno" required ngModel #cant_oxigeno="ngModel" placeholder="Cantidad mujeres benificiadas">
                      <div *ngIf="cant_oxigeno.invalid && (cant_oxigeno.dirty || cant_oxigeno.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_oxigeno.errors.required">
                            las Cantantidad de mujeres es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_paniales">Cantidad de Pañales</label>
                      <input type="number" class="form-control" id="cant_paniales" name="cant_paniales" required ngModel #cant_paniales="ngModel" placeholder="Cantidad unidades productivas">
                      <div *ngIf="cant_paniales.invalid && (cant_paniales.dirty || cant_paniales.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_paniales.errors.required">
                            la Cantidad unidades productivas es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_viaticos">Cantidad de Viaticos</label>
                    <input type="number" class="form-control" id="cant_viaticos" name="cant_viaticos" required ngModel #cant_viaticos="ngModel" placeholder="Cantidad unidades productivas">
                    <div *ngIf="cant_viaticos.invalid && (cant_viaticos.dirty || cant_viaticos.touched)" class="alert alert-danger" role="alert">
                        <small *ngIf="cant_viaticos.errors.required">
                          la Cantidad unidades productivas es invalido
                      </small>
                    </div>
                </div>
                  


                  <div class="form-group col-xl-6 mb-6">
                      <label for="departamento">Departamento</label>
                      <select class="form-control" id="departamento" name="departamento" required ngModel #departamento="ngModel" placeholder="departamento">
                      <option *ngFor="let data of DepartamentosCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                    </select>
                      <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="departamento.errors.required">
                              El Deparamento es invalido
                          </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-6 mb-6">
                      <label for="municipio">Municipio</label>
                      <select class="form-control" id="municipio" name="municipio" required ngModel #municipio="ngModel" placeholder="municipio">
                      <option *ngFor="let data of MunicipioCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                    </select>
                      <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="municipio.errors.required">
                              El Municipio es invalido
                          </small>
                      </div>
                  </div>

                  <input type="text" hidden id="usuario" name="usuario" ngModel #usuario="ngModel" [(ngModel)]="idUser">



                  <div class="form-group col-xl-12 text-right mb-15">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                  </div>
              </form>

          </div>
          <div class="modal-footer" style="border:none;">
          </div>
      </div>
  </div>



</div>


<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Edicion de datos</h4>
          </div>
          <div class="modal-body" *ngIf="selectedData">
              <form id="update-form" class="row" #UpdateForm="ngForm" (ngSubmit)="update(UpdateForm.value)">

                  <div class="form-group col-xl-4 mb-4">
                      <label for="cant_muletas">Cantidad de Muletas</label>
                      <input type="number" class="form-control" id="cant_muletas" name="cant_muletas" required ngModel #cant_muletas="ngModel" placeholder="Cantidad mujeres benificiadas" [(ngModel)]="selectedData.cant_muletas">
                      <div *ngIf="cant_muletas.invalid && (cant_muletas.dirty || cant_muletas.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_muletas.errors.required">
                            las Cantantidad de mujeres es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                      <label for="cant_andadores">Cantidad de Andadores</label>
                      <input type="number" class="form-control" id="cant_andadores" name="cant_andadores" required ngModel #cant_andadores="ngModel" placeholder="Cantidad unidades productivas" [(ngModel)]="selectedData.cant_andadores">
                      <div *ngIf="cant_andadores.invalid && (cant_andadores.dirty || cant_andadores.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_andadores.errors.required">
                            la Cantidad unidades productivas es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_bastones">Cantidad de Bastones</label>
                    <input type="number" class="form-control" id="cant_bastones" name="cant_bastones" required ngModel #cant_bastones="ngModel" placeholder="Cantidad unidades productivas" [(ngModel)]="selectedData.cant_bastones">
                    <div *ngIf="cant_bastones.invalid && (cant_bastones.dirty || cant_bastones.touched)" class="alert alert-danger" role="alert">
                        <small *ngIf="cant_bastones.errors.required">
                          la Cantidad unidades productivas es invalido
                      </small>
                    </div>
                </div>
                <div class="form-group col-xl-4 mb-4">
                      <label for="cant_servicio_funerario">Cantidad de Servicio Funerario</label>
                      <input type="number" class="form-control" id="cant_servicio_funerario" name="cant_servicio_funerario" required ngModel #cant_servicio_funerario="ngModel" placeholder="Cantidad mujeres benificiadas" [(ngModel)]="selectedData.cant_servicio_funerario">
                      <div *ngIf="cant_servicio_funerario.invalid && (cant_servicio_funerario.dirty || cant_servicio_funerario.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_servicio_funerario.errors.required">
                            las Cantantidad de mujeres es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                      <label for="cant_cervix">Cantidad de Cervix</label>
                      <input type="number" class="form-control" id="cant_cervix" name="cant_cervix" required ngModel #cant_cervix="ngModel" placeholder="Cantidad unidades productivas" [(ngModel)]="selectedData.cant_cervix">
                      <div *ngIf="cant_cervix.invalid && (cant_cervix.dirty || cant_cervix.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_cervix.errors.required">
                            la Cantidad unidades productivas es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_aparato_auditivo">Cantidad de Aparato Auditivo</label>
                    <input type="number" class="form-control" id="cant_aparato_auditivo" name="cant_aparato_auditivo" required ngModel #cant_aparato_auditivo="ngModel" placeholder="Cantidad unidades productivas" [(ngModel)]="selectedData.cant_aparato_auditivo">
                    <div *ngIf="cant_aparato_auditivo.invalid && (cant_aparato_auditivo.dirty || cant_aparato_auditivo.touched)" class="alert alert-danger" role="alert">
                        <small *ngIf="cant_aparato_auditivo.errors.required">
                          la Cantidad unidades productivas es invalido
                      </small>
                    </div>
                </div>

                <div class="form-group col-xl-4 mb-4">
                      <label for="cant_oxigeno">Cantidad de Oxigeno</label>
                      <input type="number" class="form-control" id="cant_oxigeno" name="cant_oxigeno" required ngModel #cant_oxigeno="ngModel" placeholder="Cantidad mujeres benificiadas" [(ngModel)]="selectedData.cant_oxigeno">
                      <div *ngIf="cant_oxigeno.invalid && (cant_oxigeno.dirty || cant_oxigeno.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_oxigeno.errors.required">
                            las Cantantidad de mujeres es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                      <label for="cant_paniales">Cantidad de Pañales</label>
                      <input type="number" class="form-control" id="cant_paniales" name="cant_paniales" required ngModel #cant_paniales="ngModel" placeholder="Cantidad unidades productivas" [(ngModel)]="selectedData.cant_paniales">
                      <div *ngIf="cant_paniales.invalid && (cant_paniales.dirty || cant_paniales.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="cant_paniales.errors.required">
                            la Cantidad unidades productivas es invalido
                        </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-4 mb-4">
                    <label for="cant_viaticos">Cantidad de Viaticos</label>
                    <input type="number" class="form-control" id="cant_viaticos" name="cant_viaticos" required ngModel #cant_viaticos="ngModel" placeholder="Cantidad unidades productivas" [(ngModel)]="selectedData.cant_viaticos">
                    <div *ngIf="cant_viaticos.invalid && (cant_viaticos.dirty || cant_viaticos.touched)" class="alert alert-danger" role="alert">
                        <small *ngIf="cant_viaticos.errors.required">
                          la Cantidad unidades productivas es invalido
                      </small>
                    </div>
                </div>



                  <div class="form-group col-xl-6 mb-6">
                      <label for="departamento">Departamento</label>
                      <select class="form-control" id="departamento" name="departamento" required ngModel #departamento="ngModel" placeholder="departamento" [(ngModel)]="selectedData.departamento">
                      <option *ngFor="let data of DepartamentosCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                    </select>
                      <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="departamento.errors.required">
                              El Deparamento es invalido
                          </small>
                      </div>
                  </div>

                  <div class="form-group col-xl-6 mb-6">
                      <label for="municipio">Municipio</label>
                      <select class="form-control" id="municipio" name="municipio" required ngModel #municipio="ngModel" placeholder="municipio" [(ngModel)]="selectedData.municipio">
                      <option *ngFor="let data of MunicipioCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                    </select>
                      <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)" class="alert alert-danger" role="alert">
                          <small *ngIf="municipio.errors.required">
                              El Municipio es invalido
                          </small>
                      </div>
                  </div>

                  <input type="text" hidden id="usuario" name="usuario" ngModel #usuario="ngModel" [(ngModel)]="idUser">





                  <input type="hidden" class="form-control" id="id" name="id" required ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                  <div class="form-group col-xl-12 text-right mb-15">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                  </div>
              </form>

          </div>
          <div class="modal-footer" style="border:none;">

          </div>
      </div>
  </div>
</div>



<div class="modal fade" id="SubirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload Data</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
          </div>
          <div class="modal-body">
              <div class="container">
                  <div class="panel panel-default">
                      <div class="form-group col-xs-6 col-xs-offset-3">
                          <input type="file" id="avatar" (change)="subirImagenes($event,'avatar')" />
                          <progress value="0" max="100" id="barra_de_progreso"></progress>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">

          </div>
      </div>
  </div>
  <simple-notifications [options]="options"></simple-notifications>

</div>

<div class="modal fade" id="Loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
          <app-loader></app-loader>
      </div>
  </div>
</div>
