<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../centros-sanatarios' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Centros de Sanatorios</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detallecentrosanatorio' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle Centros de Sanatorios</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../familia' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Familias</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../area' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Area</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../acueducto' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Acueducto</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../tren-aseo' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Tren de Aceo</span></h5>
</a>