<ol class="breadcrumb">
  <li class="breadcrumb-item">
      <a href="#">SIETD</a>
  </li>
  <li class="breadcrumb-item">
      <a href="#">DIDEDUC</a>
  </li>
  <li class="breadcrumb-item active">Graficas</li>
</ol>

<div class="row">
  <div class="col-lg-4" style="margin-bottom: 10px">

      <!-- Example Bar Chart Card -->

      <div class="card mb-12">
          <div class="card-header">
              <i class="fa fa-filter"></i> Filtros
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-12 my-auto">
                      <label for="departamento">Departamento</label>
                      <select name="departamento" class="form-control" id="departamento" required ngModel #departamento="ngModel" (change)="refereshChart(departamento.value)">
                                                                      <option value="4"></option>
                                                                    <option *ngFor="let dep of DepartamentoCombo" value="{{dep.id}}">{{dep.nombre}}</option>
                                                      </select>

                  </div>
              </div>
          </div>
          <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
          </div>
      </div>


  </div>

  <div class="col-lg-8" style="margin-bottom: 10px">
      <!-- Example Bar Chart Card -->

      <div class="card mb-12">
          <div class="card-header">
              <i class="fa fa-pie-chart"></i> Daño Agricola
          </div>
          <div class="card-body">
              <div class="row">

                  <div class="col-sm-12 my-auto">
                      <div>
                          <div style="display: block">
                              <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieChartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                          </div>

                      </div>
                  </div>

              </div>
          </div>
          <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
          </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6" style="margin-bottom: 10px">

      <!-- Example Bar Chart Card -->
      <div class="card mb-12">
          <div class="card-header">
              <i class="fa fa-bar-chart"></i> Daño Pecuario
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-12 my-auto">
                      <div>
                          <div style="display: block">
                              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                          </div>

                      </div>
                  </div>

                  <!-- <div class="col-sm-6 my-auto">
                      <table class="table table-responsive table-condensed">
                          <tr>
                              <th *ngFor="let label of barChartLabels">{{label}}</th>
                          </tr>
                          <tr *ngFor="let d of barChartData">
                              <td *ngFor="let label of barChartLabels; let j=index">{{d && d.data[j]}}</td>
                          </tr>
                      </table>
                  </div> -->

              </div>
          </div>
          <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
          </div>
      </div>

  </div>

  <div class="col-lg-6" style="margin-bottom: 10px">

      <!-- Example Bar Chart Card -->
      <div class="card mb-12">
          <div class="card-header">
              <i class="fa fa-pie-chart"></i> Daño Infraestructura
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-12 my-auto">
                      <div>
                          <div style="display: block">
                              <canvas baseChart [data]="pieChartDataEst" [labels]="pieChartLabelsEst" [chartType]="pieChartTypeEst" [colors]="pieChartColorsEst" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                          </div>

                      </div>
                  </div>



              </div>
          </div>
          <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
          </div>
      </div>

  </div>
</div>
<!-- 
<div class="row">


  <div class="col-lg-6" style="margin-bottom: 10px">

    
      
      <div class="card mb-12">
          <div class="card-header">
              <i class="fa fa-bar-chart"></i> Cantidad de Docentes
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-sm-12 my-auto">
                      <div>
                          <div style="display: block">
                              <canvas baseChart [datasets]="barChartDataDoc" [labels]="barChartLabelsDoc" [options]="barChartOptionsDoc" [legend]="barChartLegendDoc" [chartType]="barChartTypeDoc" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                          </div>
                      </div>
                  </div>



              </div>
          </div>
          <div class="card-footer small text-muted">
              Updated yesterday at 11:59 PM
          </div>
      </div>

  </div>

</div> -->
