<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">SIETD</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">MSPAS</a>
    </li>
    <li class="breadcrumb-item active"> Ingreso de Datos</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Lista de Registros
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button>
                    </div>
                    <div class="col-md-7 text-center">
                        <div class="card-header" role="tab" id="headingOne" (click)="seleccion()" data-toggle="collapse" data-parent="#accordion" href="#Forms" aria-expanded="true" aria-controls="Forms">
                            <h5 class="mb-0 pointer">
                                <a>
                            {{title}}
                          </a>
                                <i class="fa {{arrow}}"></i>
                            </h5>

                        </div>

                        <ul class="collapse text-left ulhover" role="tabpanel" aria-labelledby="headingOne" id="Forms">
                            <app-directs></app-directs>

                        </ul>
                    </div>
                    <div class="col-md-3 text-right">
                        <button type="button" class="btn btn-lg btn-success" (click)="onNavigate()" style="cursor:pointer;"><i class="fa fa-download"></i> Formato</button>

                        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#SubirModal" style="cursor:pointer;">Subir</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" width="100%" id="dataTable" cellspacing="0">

                        <thead>
                            <tr>
                                <th style="width:30%;">Total Comunidades</th>
                                <th style="width:30%;">Tren de Aseo</th>
                                <th style="width:20%;">Cobertura</th>
                                <th style="width:20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of Table">
                                <td>{{((data.total_comunidades!=null)?data.total_comunidades:'')}}</td>
                                <td>{{((data.total_con_tren_aseo!=null)?data.total_con_tren_aseo:'')}}</td>
                                <td>{{((data.cobertura_con_tren_aseo!=null)?data.cobertura_con_tren_aseo:'')}}</td>
                                <td>

                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                    <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
    </div>
</div>

<simple-notifications [options]="options"></simple-notifications>


<div id="insertModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingreso de datos</h4>
            </div>
            <div class="modal-body">
                <form id="insert-form" class="row" #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                    <div class="form-group col-xl-4 mb-4">
                        <label for="total_comunidades">Total Comunidades</label>
                        <input type="text" class="form-control" id="total_comunidades" name="total_comunidades" required ngModel #total_comunidades="ngModel" placeholder="Total Comunidades">
                        <div *ngIf="total_comunidades.invalid && (total_comunidades.dirty || total_comunidades.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="total_comunidades.errors.required">
                                  El Total Comunidades es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="total_con_tren_aseo">Tren de Aseo</label>
                        <input type="text" class="form-control" id="total_con_tren_aseo" name="total_con_tren_aseo" required ngModel #total_con_tren_aseo="ngModel" placeholder="Tren de Aseo">
                        <div *ngIf="total_con_tren_aseo.invalid && (total_con_tren_aseo.dirty || total_con_tren_aseo.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="total_con_tren_aseo.errors.required">
                                  El Tren de Aseo es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cobertura_con_tren_aseo">Cobertura</label>
                        <input type="text" class="form-control" id="cobertura_con_tren_aseo" name="cobertura_con_tren_aseo" required ngModel #cobertura_con_tren_aseo="ngModel" placeholder="Cobertura">
                        <div *ngIf="cobertura_con_tren_aseo.invalid && (cobertura_con_tren_aseo.dirty || cobertura_con_tren_aseo.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cobertura_con_tren_aseo.errors.required">
                                  La Cobertura es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-6 mb-6">
                        <label for="departamento">Departamento</label>
                        <select class="form-control" id="departamento" name="departamento" required ngModel #departamento="ngModel" placeholder="departamento">
                            <option *ngFor="let data of DepartamentosCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                        <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="departamento.errors.required">
                                    La Deparamento es invalido
                                </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-6 mb-6">
                        <label for="municipio">Municipio</label>
                        <select class="form-control" id="municipio" name="municipio" required ngModel #municipio="ngModel" placeholder="municipio">
                            <option *ngFor="let data of MunicipioCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                        <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="municipio.errors.required">
                                    El Municipio es invalido
                                </small>
                        </div>
                    </div>


                    <div class="form-group col-xl-12 text-right mb-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">
            </div>
        </div>
    </div>



</div>

<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edicion de datos</h4>
            </div>
            <div class="modal-body" *ngIf="selectedData">
                <form id="update-form" class="row" #UpdateForm="ngForm" (ngSubmit)="update(UpdateForm.value)">

                    <div class="form-group col-xl-4 mb-4">
                        <label for="total_comunidades">Total Comunidades</label>
                        <input type="text" class="form-control" id="total_comunidades" name="total_comunidades" required ngModel #total_comunidades="ngModel" placeholder="Total Comunidades" [(ngModel)]="selectedData.total_comunidades">
                        <div *ngIf="total_comunidades.invalid && (total_comunidades.dirty || total_comunidades.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="total_comunidades.errors.required">
                                El Total Comunidades es invalido
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="total_con_tren_aseo">Tren de Aseo</label>
                        <input type="text" class="form-control" id="total_con_tren_aseo" name="total_con_tren_aseo" required ngModel #total_con_tren_aseo="ngModel" placeholder="Tren de Aseo" [(ngModel)]="selectedData.total_con_tren_aseo">
                        <div *ngIf="total_con_tren_aseo.invalid && (total_con_tren_aseo.dirty || total_con_tren_aseo.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="total_con_tren_aseo.errors.required">
                                El Tren de Aseo es invalido
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cobertura_con_tren_aseo">Cobertura</label>
                        <input type="text" class="form-control" id="cobertura_con_tren_aseo" name="cobertura_con_tren_aseo" required ngModel #cobertura_con_tren_aseo="ngModel" placeholder="Cobertura" [(ngModel)]="selectedData.cobertura_con_tren_aseo">
                        <div *ngIf="cobertura_con_tren_aseo.invalid && (cobertura_con_tren_aseo.dirty || cobertura_con_tren_aseo.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cobertura_con_tren_aseo.errors.required">
                                La Cobertura es invalido
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-6 mb-6">
                        <label for="departamento">Departamento</label>
                        <select name="departamento" class="form-control" id="departamento" required ngModel #departamento="ngModel" (change)="cargarMunicipios(departamento.value)" [(ngModel)]="selectedData.departamento">
                        <option value="4"></option>
                        <option *ngFor="let Data of DepartamentosCombo" value="{{Data.id}}">{{Data.nombre}}</option>
                      </select>
                        <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="departamento.errors.required">
                                El Departamento es invalido
                            </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-6 mb-6">
                        <label for="municipio">Municipio</label>
                        <select class="form-control" id="municipio" name="municipio" required ngModel #municipio="ngModel" placeholder="municipio" [(ngModel)]="selectedData.municipio">
                      <option *ngFor="let data of MunicipioCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                    </select>
                        <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="municipio.errors.required">
                              El Municipio es invalido
                          </small>
                        </div>
                    </div>


                    <input type="hidden" class="form-control" id="id" name="id" required ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                    <div class="form-group col-xl-12 text-right mb-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



</div>



<div class="modal fade" id="SubirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="form-group col-xs-6 col-xs-offset-3">
                            <input type="file" id="avatar" (change)="subirImagenes($event,'avatar')" />
                            <progress value="0" max="100" id="barra_de_progreso"></progress>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
    <simple-notifications [options]="options"></simple-notifications>

</div>

<div class="modal fade" id="Loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="text-center" style="margin-top:50%;">
            <app-loader></app-loader>
        </div>
    </div>
</div>