<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../establecimientos' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Establecimientos</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../niveles-educativos' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Niveles Educativos</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../tipos-establecimientos' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Tipos de Establecimientos</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../mobiliario' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Mobiliarios</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../tipo-mobiliario' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Tipos de Mobiliarios</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../tipo-danio' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Tipos de Daños</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../danio' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Daños</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../edificios' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Edificios</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../tipo-aula' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Tipos de Aulas</span></h5>
</a>

<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../aula' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Aula</span></h5>
</a>