<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../agricolas' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Daños Agricolas</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../cultivo' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Cultivos</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detalles-infraestructuras' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle Infraestructura</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../fenomeno' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Fenomeno</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../pecuario' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Pecuario</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../nivel-productivo' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Nivel Productivo</span></h5>
</a>
<a>
  <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../infraestructura' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Infraestructura</span></h5>
</a>
<a>
  <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../animales' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Animales</span></h5>
</a>
