<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../carnes' ]"><i class="fa fa-fw fa fa-chevron-right"></i><span class="nav-link-text">Carnes</span></h5>

</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../frutas' ]"><i class="fa fa-fw fa fa-chevron-right"></i><span class="nav-link-text">Frutas</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../combustible' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Combustibles</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../gas_propano' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Gas Propano</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../verduras' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Verduras</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../granos_basicos' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Granos Basicos</span></h5>
</a>

<a>
  <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detalle_combustible' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle Combustible</span></h5>
</a>

<a>
  <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detalle_carnes' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle Carnes</span></h5>
</a>

<a>
  <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detalle_frutas' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle Frutas</span></h5>
</a>

<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detalle_gas_propano' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle Gas Propano</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detalle_verdura' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle Verdura</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detalle_granos_basicos' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle Granos Basicos</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../tipo_carne' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Tipo de Carne</span></h5>
</a>
<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../tipo_servicio_combustible' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Tipo servicio Combustible</span></h5>
</a>
