<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../detalleinab' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Detalle INAB</span></h5>
</a>

<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../consumolenia' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Consumo de leña</span></h5>
</a>

<a>
    <h5 href="#" class="nav-link" routerLinkActive="active" [routerLink]="[ '../programainab' ]"><i class="fa fa-fw fa-chevron-right"></i><span class="nav-link-text">Programas INAB</span></h5>
</a>