<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">SIETD</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#">MSPAS</a>
    </li>
    <li class="breadcrumb-item active"> Ingreso de Datos</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Lista de Registros
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button>
                    </div>
                    <div class="col-md-7 text-center">
                        <div class="card-header" role="tab" id="headingOne" (click)="seleccion()" data-toggle="collapse" data-parent="#accordion" href="#Forms" aria-expanded="true" aria-controls="Forms">
                            <h5 class="mb-0 pointer">
                                <a>
                            {{title}}
                          </a>
                                <i class="fa {{arrow}}"></i>
                            </h5>

                        </div>

                        <ul class="collapse text-left ulhover" role="tabpanel" aria-labelledby="headingOne" id="Forms">
                            <app-directs></app-directs>

                        </ul>
                    </div>
                    <div class="col-md-3 text-right">
                        <button type="button" class="btn btn-lg btn-success" (click)="onNavigate()" style="cursor:pointer;"><i class="fa fa-download"></i> Formato</button>

                        <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#SubirModal" style="cursor:pointer;">Subir</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" width="100%" id="dataTable" cellspacing="0">

                        <thead>
                            <tr>
                                <th style="width:10%;">Viviendas</th>
                                <th style="width:15%;">Intradomiciliar</th>
                                <th style="width:15%;">LLenacantaros</th>
                                <th style="width:10%;">Letrina</th>
                                <th style="width:10%;">Inodoro</th>
                                <th style="width:10%;">Alcantarilla</th>
                                <th style="width:20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of Table">
                                <td>{{((data.total_viviendas!=null)?data.total_viviendas:'')}}</td>
                                <td>{{((data.cant_acceso_agua_intradomiciliar!=null)?data.cant_acceso_agua_intradomiciliar:'')}}</td>
                                <td>{{((data.cant_agua_llenacantaros!=null)?data.cant_agua_llenacantaros:'')}}</td>
                                <td>{{((data.cant_con_letrina!=null)?data.cant_con_letrina:'')}}</td>
                                <td>{{((data.cant_con_inodoro!=null)?data.cant_con_inodoro:'')}}</td>
                                <td>{{((data.cant_con_alcantarilla!=null)?data.cant_con_alcantarilla:'')}}</td>
                                <td>

                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                    <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
    </div>
</div>

<simple-notifications [options]="options"></simple-notifications>


<div id="insertModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingreso de datos</h4>
            </div>
            <div class="modal-body">
                <form id="insert-form" class="row" #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                    <div class="form-group col-xl-4 mb-4">
                        <label for="total_viviendas">Viviendas</label>
                        <input type="number" class="form-control" id="total_viviendas" name="total_viviendas" required ngModel #total_viviendas="ngModel" placeholder="total de viviendas">
                        <div *ngIf="total_viviendas.invalid && (total_viviendas.dirty || total_viviendas.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="total_viviendas.errors.required">
                                  El total de viviendas es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_acceso_agua_intradomiciliar">Intradomiciliar</label>
                        <input type="number" class="form-control" id="cant_acceso_agua_intradomiciliar" name="cant_acceso_agua_intradomiciliar" required ngModel #cant_acceso_agua_intradomiciliar="ngModel" placeholder="cantidad acceso agua intradomiciliar">
                        <div *ngIf="cant_acceso_agua_intradomiciliar.invalid && (cant_acceso_agua_intradomiciliar.dirty || cant_acceso_agua_intradomiciliar.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_acceso_agua_intradomiciliar.errors.required">
                                  La Cantidad Agua llenacantaros es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_agua_llenacantaros">llenacantaros</label>
                        <input type="number" class="form-control" id="cant_agua_llenacantaros" name="cant_agua_llenacantaros" required ngModel #cant_agua_llenacantaros="ngModel" placeholder="Cantidad Agua llenacantaross">
                        <div *ngIf="cant_agua_llenacantaros.invalid && (cant_agua_llenacantaros.dirty || cant_agua_llenacantaros.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_agua_llenacantaros.errors.required">
                                  El Cantidad Agua llenacantaros es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_con_letrina">Cantidad con letrina</label>
                        <input type="number" class="form-control" id="cant_con_letrina" name="cant_con_letrina" required ngModel #cant_con_letrina="ngModel" placeholder="cantidad con letrina">
                        <div *ngIf="cant_con_letrina.invalid && (cant_con_letrina.dirty || cant_con_letrina.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_con_letrina.errors.required">
                                  La Cantidad con letrinas es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_con_inodoro">Inodoro</label>
                        <input type="number" class="form-control" id="cant_con_inodoro" name="cant_con_inodoro" required ngModel #cant_con_inodoro="ngModel" placeholder="Cantidad con inodoro">
                        <div *ngIf="cant_con_inodoro.invalid && (cant_con_inodoro.dirty || cant_con_inodoro.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_con_inodoro.errors.required">
                                  La cantidad con Inodoro es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_con_alcantarilla">Alcantarilla</label>
                        <input type="number" class="form-control" id="cant_con_alcantarilla" name="cant_con_alcantarilla" required ngModel #cant_con_alcantarilla="ngModel" placeholder="Cantidad con alcantarilla">
                        <div *ngIf="cant_con_alcantarilla.invalid && (cant_con_alcantarilla.dirty || cant_con_alcantarilla.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_con_alcantarilla.errors.required">
                                  La Cantidad con Alcantarilla es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-6 mb-6">
                        <label for="departamento">Departamento</label>
                        <select class="form-control" id="departamento" name="departamento" required ngModel #departamento="ngModel" placeholder="departamento">
                            <option *ngFor="let data of DepartamentosCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                        <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="departamento.errors.required">
                                    El Deparamento es invalido
                                </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-6 mb-6">
                        <label for="municipio">Municipio</label>
                        <select class="form-control" id="municipio" name="municipio" required ngModel #municipio="ngModel" placeholder="municipio">
                            <option *ngFor="let data of MunicipioCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                        <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="municipio.errors.required">
                                    EL Municipio es invalido
                                </small>
                        </div>
                    </div>


                    <div class="form-group col-xl-12 text-right mb-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">
            </div>
        </div>
    </div>



</div>

<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edicion de datos</h4>
            </div>
            <div class="modal-body" *ngIf="selectedData">
                <form id="update-form" class="row" #UpdateForm="ngForm" (ngSubmit)="update(UpdateForm.value)">

                    <div class="form-group col-xl-4 mb-4">
                        <label for="total_viviendas">Viviendas</label>
                        <input type="number" class="form-control" id="total_viviendas" name="total_viviendas" required ngModel #total_viviendas="ngModel" placeholder="total de viviendas" [(ngModel)]="selectedData.total_viviendas">
                        <div *ngIf="total_viviendas.invalid && (total_viviendas.dirty || total_viviendas.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="total_viviendas.errors.required">
                                  El total de viviendas es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_acceso_agua_intradomiciliar">Intradomiciliar</label>
                        <input type="number" class="form-control" id="cant_acceso_agua_intradomiciliar" name="cant_acceso_agua_intradomiciliar" required ngModel #cant_acceso_agua_intradomiciliar="ngModel" placeholder="cantidad acceso agua intradomiciliar" [(ngModel)]="selectedData.cant_acceso_agua_intradomiciliar">
                        <div *ngIf="cant_acceso_agua_intradomiciliar.invalid && (cant_acceso_agua_intradomiciliar.dirty || cant_acceso_agua_intradomiciliar.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_acceso_agua_intradomiciliar.errors.required">
                                  La Cantidad Agua llenacantaros es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_agua_llenacantaros">llenacantaros</label>
                        <input type="number" class="form-control" id="cant_agua_llenacantaros" name="cant_agua_llenacantaros" required ngModel #cant_agua_llenacantaros="ngModel" placeholder="Cantidad Agua llenacantaross" [(ngModel)]="selectedData.cant_agua_llenacantaros">
                        <div *ngIf="cant_agua_llenacantaros.invalid && (cant_agua_llenacantaros.dirty || cant_agua_llenacantaros.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_agua_llenacantaros.errors.required">
                                  El Cantidad Agua llenacantaros es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_con_letrina">Cantidad con letrina</label>
                        <input type="number" class="form-control" id="cant_con_letrina" name="cant_con_letrina" required ngModel #cant_con_letrina="ngModel" placeholder="cantidad con letrina" [(ngModel)]="selectedData.cant_con_letrina">
                        <div *ngIf="cant_con_letrina.invalid && (cant_con_letrina.dirty || cant_con_letrina.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_con_letrina.errors.required">
                                  La Cantidad con letrinas es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_con_inodoro">Inodoro</label>
                        <input type="number" class="form-control" id="cant_con_inodoro" name="cant_con_inodoro" required ngModel #cant_con_inodoro="ngModel" placeholder="Cantidad con inodoro" [(ngModel)]="selectedData.cant_con_inodoro">
                        <div *ngIf="cant_con_inodoro.invalid && (cant_con_inodoro.dirty || cant_con_inodoro.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_con_inodoro.errors.required">
                                  La cantidad con Inodoro es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-4 mb-4">
                        <label for="cant_con_alcantarilla">Alcantarilla</label>
                        <input type="number" class="form-control" id="cant_con_alcantarilla" name="cant_con_alcantarilla" required ngModel #cant_con_alcantarilla="ngModel" placeholder="Cantidad con alcantarilla" [(ngModel)]="selectedData.cant_con_alcantarilla">
                        <div *ngIf="cant_con_alcantarilla.invalid && (cant_con_alcantarilla.dirty || cant_con_alcantarilla.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="cant_con_alcantarilla.errors.required">
                                  La Cantidad con Alcantarilla es invalido
                              </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-6 mb-6">
                        <label for="departamento">Departamento</label>
                        <select class="form-control" id="departamento" name="departamento" required ngModel #departamento="ngModel" placeholder="departamento" [(ngModel)]="selectedData.departamento">
                            <option *ngFor="let data of DepartamentosCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                        <div *ngIf="departamento.invalid && (departamento.dirty || departamento.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="departamento.errors.required">
                                    El Deparamento es invalido
                                </small>
                        </div>
                    </div>

                    <div class="form-group col-xl-6 mb-6">
                        <label for="municipio">Municipio</label>
                        <select class="form-control" id="municipio" name="municipio" required ngModel #municipio="ngModel" placeholder="municipio" [(ngModel)]="selectedData.municipio">
                            <option *ngFor="let data of MunicipioCombo" value="{{data.id}}">{{((data.nombre!=null)?data.nombre:'')}}</option>
                          </select>
                        <div *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)" class="alert alert-danger" role="alert">
                            <small *ngIf="municipio.errors.required">
                                    EL Municipio es invalido
                                </small>
                        </div>
                    </div>


                    <input type="hidden" class="form-control" id="id" name="id" required ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                    <div class="form-group col-xl-12 text-right mb-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



</div>




<div class="modal fade" id="SubirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="form-group col-xs-6 col-xs-offset-3">
                            <input type="file" id="avatar" (change)="subirImagenes($event,'avatar')" />
                            <progress value="0" max="100" id="barra_de_progreso"></progress>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
    <simple-notifications [options]="options"></simple-notifications>

</div>

<div class="modal fade" id="Loading" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="text-center" style="margin-top:50%;">
            <app-loader></app-loader>
        </div>
    </div>
</div>